Working with Lists and Tuples

In [2]:
#empyt list
empty_list =[]
empty_list

[]

In [3]:
#list can contain any data type
#values separated by a comma

list_str = ['honda', "Benz", "Mazda", "Hilux", "Range Rover"]

list_str

['honda', 'Benz', 'Mazda', 'Hilux', 'Range Rover']

In [4]:
type(list_str)

list

In [5]:
list_bool = [True, False]

list_bool

[True, False]

In [6]:
car_list = ['honda', "Benz", "Mazda", "Hilux", "Range Rover"]

car_list

['honda', 'Benz', 'Mazda', 'Hilux', 'Range Rover']

In [7]:
#access elements in a list
print(car_list[0])
print(car_list[1])
print(car_list[3])

honda
Benz
Hilux

In [8]:
#access the last element
print(car_list[-1])

#use -ve value to access elements backward
print(car_list[-3])

Range Rover
Mazda

In [9]:
#update the car at index 3 
car_list[3] = "Rolls Royce"

print("New car at index 3 is: ", car_list[3])

car_list

New car at index 3 is:  Rolls Royce

['honda', 'Benz', 'Mazda', 'Rolls Royce', 'Range Rover']

In [10]:
#add a new element to the list
car_list.append('Subaru')
car_list.append('Ford Fusion')
car_list

['honda',
 'Benz',
 'Mazda',
 'Rolls Royce',
 'Range Rover',
 'Subaru',
 'Ford Fusion']

In [11]:
len(car_list)

7

In [12]:
#insert an element in a specific index
car_list.insert(11, 'Nissan')

car_list

['honda',
 'Benz',
 'Mazda',
 'Rolls Royce',
 'Range Rover',
 'Subaru',
 'Ford Fusion',
 'Nissan']

In [13]:
len(car_list)

8

In [14]:
#add multiple elements at the end of the list
car_list.extend(['KIA','Ferrari'])
car_list

['honda',
 'Benz',
 'Mazda',
 'Rolls Royce',
 'Range Rover',
 'Subaru',
 'Ford Fusion',
 'Nissan',
 'KIA',
 'Ferrari']

In [15]:
#remove an element
car_list.remove('Subaru')

In [16]:
car_list

['honda',
 'Benz',
 'Mazda',
 'Rolls Royce',
 'Range Rover',
 'Ford Fusion',
 'Nissan',
 'KIA',
 'Ferrari']

In [18]:
car_list.remove('Nissan')